.container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  }
  .item{
  background: #3190C8;
  color: white;
  height: 200px;
  }
  .item:hover{
      background: white;
      color: black;
  }